<link href='/public/css/contact.css' rel='stylesheet' />

<h2>Contact Us</h2>
<div id='qr container'>
  <h3>Share our website with your friends!</h3>

  <img
    id='qr-img'
    hidden
    width='25%'
    height='25%'
    alt='QR Code for website'
    hidden
  />

  <script src='/public/js/qr.js' defer></script>
</div>