<link href='/public/css/homepage.css' rel='stylesheet' />
<h1 id="homepage-title">C'est La Vie Salon</h1>


<div id="homepage-num1">

  <div id="homepage-img">
    <img id="homepage-logo" src="../public/images/Logo.png">
  </div>

  <div id="homepage-paragraph"></div>
    <p id="homepage-desc">
     Welcome to C'est La Vie Hair Salon! <br> World class barbers live here.<br>
    <label for="homepage-register-button" id="homepage-register-label">New to C'est La Vie?</label>
    <button id="homepage-register-button" type='button' onclick="location.href = '/users/signup';">Register</button>
    <label for="homepage-login-button" id="homepage-login-label">Returning?</label>
    <button id="homepage-login-button" type='button' onclick="location.href = '/users/login?';">Login</button>
    </p>
  </div>

</div>
