#salon-img {
    width: 40%;
    height: 40%
}
* {
    font-family: "Helvetica Neue Thin", Arial, Helvetica, sans-serif
}

table, th, td {
    border: 1px solid #ed5a58;
}
td {
    text-align: center;
}

.biography {
    margin-top: 2px;
    border: 2px solid #ed5a58;
    width: 70%
}